<div class="background">
  

  
  <div class="agrid">
    
    <div class="gridbox" *ngFor="let boxdata of data;let i = index" [style.backgroundColor]="boxdata.color" (click)="boxclicked(i)">
      <div class="characters" *ngIf="boxdata.item == 'astronaut at home'">
        <img style='height: 100%; width: 100%; object-fit: contain' src="/assets/pictures/astronautcha.png"/>
      
       </div>
       <div class="characters" *ngIf="boxdata.item == 'nukehim'">
        <img style='height: 100%; width: 100%; object-fit: contain' src="/assets/pictures/asteroid.png"/>
       </div>

    </div>
  </div>
 


</div>

